@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --green:#009c1d;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(255, 255, 255, 0.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgb(0, 156, 31);
    --outline-hover:.2rem solid rgb(0, 255, 89);
}

.Home{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}

.htmlHome{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

.bodyHome{
    background:#eee;
}

.sectionHome{
    padding:2rem 9%;
}

.headingHome{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}

.headingHome span{
    background: var(--green);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.modal-internoHome{
    margin-top: 1rem;
    padding:.8rem 3rem;
    border-radius: .5rem;
    border:.2rem solid rgb(0, 156, 31);
    color:var(--black);
    cursor: pointer;
    background-color: lightgrey;
}

.btnHome{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid rgb(0, 156, 31);
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btnHome:hover{
    background: var(--green);
    color:#fff;
}

.headerHome{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}

.headerHome .logoHome{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.headerHome .logoHome i{
    color:var(--green);
}

.headerHome .navbarHome a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.headerHome .navbarHome a:hover{
    color:var(--green);
}

.headerHome .iconsHome div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.headerHome .iconsHome div:hover{
    background: var(--green);
    color:#fff;
}

#menu-btnHome{
    display: none;
}

.backHome{
    background-color: #fbfbfb;
}

.homeHome{
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.homeHome .contentHome{
    text-align: center;
    width:60rem;
}

.homeHome .contentHome h3{
    color:var(--black);
    font-size: 3rem;
}

.homeHome .contentHome h3 span{
    color:var(--green);
}

.homeHome .contentHome p{
    color:var(--light-color);
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 1.8;
}

.featuresHome .box-containerHome{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.featuresHome .box-containerHome .boxHome{
    padding:3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    width: 500px;

}

.featuresHome .box-containeHomer .boxHome:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.featuresHome .box-containerHome .boxHome img{
    margin:1rem 0;
    height: 15rem;
}

.featuresHome .box-containerHome .boxHome h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color:var(--black);
}

.featuresHome .box-containerHome .boxHome p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
    padding:1rem 0;
}

.footerHome{
    background: #fff;
}

.footerHome .box-containerHome{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footerHome .box-containerHome .testHome h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footerHome .box-containerHome .testHome h3 i .logoHome{
    color:var(--green);
}

.footerHome .box-containerHome .testHome .linksHome{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footerHome .box-containerHome .testHome .linksHome i{
    color:var(--green);
    padding-right: .5rem;
}

.footerHome .box-containerHome .testHome .linksHome:hover i{
    padding-right: 2rem;
}


.footerHome .box-containerHome .testHome p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footerHome .box-containerHome .testHome .shareHome a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footerHome .box-containerHome .testHome .shareHome a:hover{
    background: var(--green);
    color: #fff;
}

.footerHome .box-containerHome .testHome .emailHome{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.footerHome .box-containerHome .testHome .payment-imgHome{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footerHome .creditHome{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}

.footerHome .creditHome span{
    color:#8f00f5;
}












/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .headerHome{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btnHome{
        display: inline-block;
    }

    .headerHome .search-formHome{
        width:90%;
    }

    .headerHome .navbarHome{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .headerHome .navbar.activeHome{
        right:2rem;
        transition: .4s linear;
    }

    .headerHome .navbarHome a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .headingHome{
        font-size: 2.5rem;
    }

    .footerHome{
        text-align: center;
    }

    .footerHome .box-containerHome .boxHome .payment-imgHome{
        margin: 2rem auto;
    }

}