@import url('http://fonts.cdnfonts.com/css/montserrat');


.letrao-grandaoCadastro{
    font-size: 14px !important;
    background: #263519;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #ffffff;
}

.toUpperCaseCadastro{
    text-transform: uppercase;
}

.boxCadastro {
    border-radius: 20px;
    width: 600px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 2px #00ff26ef;
    display: flex;
    flex-direction: column;
}

.bodyCadastro{
    font-family: "montserrat",
    sans-serif;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/public/background.jpg);
    background-size: cover;
    background-position: center;
}
.boxCadastro h1{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    align-self: center;
    text-align: center;
}

.usernameCadastro,
.passwordCadastro{
    position: relative;
}

.iconCadastro{
    position: absolute;
    left: 165px;
    top: 20px;
    color: rgba(0, 0, 0, 0.778);
}

.boxCadastro input[type="password"],
.boxCadastro input[type="text"]{
    font-size: 20px;
    border: 0px;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 3px solid #cfe00def;
    padding: 14px 10px;
    outline: none;
    color: rgb(0,0,0);
    border-radius: 24px;
    transition: all .2s ease-in;
}

.boxCadastro input[type="password"]:focus,
.boxCadastro input[type="text"]:focus{
    width: 250px;
    border-color: rgb(6, 196, 47);
}

.wrapperCadastro {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#btnLogin {
    border: 0px;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 3px solid #ffc400ec;
    padding: 14px 35px;
    font-size: 18px;
    color: rgb(256,256,256);
    border-radius: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

#btnLogin:hover{
    border-color: rgb(6, 196, 47);
}

